<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <%- head.title.toString() %>

    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">

    <link rel="stylesheet" type="text/css" href="/<%- webpackAsset('bundle', 'css') %>"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.12/c3.min.css"/>

</head>
<body>

<div id="app" class="app"><%- content %></div>
<div id="devtools"></div>
<script src="/<%- webpackAsset('vendor', 'js') %>"></script>
<script>window.__INITIAL_STATE__ = <%- initialState %></script>
<script src="/<%- webpackAsset('bundle', 'js') %>"></script>

</body>
</html>